.cookTime {
    display: flex;
    width:100%;
    align-items: stretch;
    justify-content: space-around;

}

.cookTime div {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
}

.cookTime div span {
    padding-left: 1rem;
}

.source {
    padding-top:1rem;
}

section {
    padding-bottom: 0%;
}